<html>
    <head>
        <script>
            function activate() {
                fetch('/activate', {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                })
                .then((res) => {alert("Your account is activated"); window.location.href = "http://127.0.0.1:4000/home"});
            }
        </script>
    </head>
    <h1> You are logged in </h1>
    <button type="button" onclick="activate()">
        Activate Account
    </button>
</html>