<html>
    <head>
        <script>
            function activate() {
                fetch('/activate', {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                })
                .then((res) => {});
            }
        </script>
    </head>
    <h1> You are logged in </h1>
    <button type="button" onclick="activate()">
        Activate Account
    </button>
</html>