<html>
    <head>
        <script>
            function verify() {
                fetch('/signup', {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ "pass": document.getElementById("pass").value, "confirmPass": document.getElementById("confirmPass").value })
                    })
                .then((res) => {window.location.href = "http://127.0.0.1:4000/login";});
            }
        </script>
    </head>
    <body>
        <form>
            Password <input type = "text" id = "pass"> <br>
            Confirm Password <input type = "text" id = "confirmPass">
        </form>
        <button type="button" onclick="verify()">
            Submit
        </button>
    </body>
</html>